@use '../styles/variables' as *;

page {
  font-family: $jm-font-family;
  font-size: $jm-font-body;
  color: $jm-color-text;
  background-color: $jm-color-bg;
  box-sizing: border-box;
}

view,
text,
image {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
