::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
}

::-webkit-scrollbar-track {
  background-color: unset;
}

::selection {
  background: #858585;
  color: #FFF;
}

::-moz-selection {
  background: #858585;
  color: #FFF;
}
